<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>cn.pku.coolyr.view.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginCL</servlet-name>
		<servlet-class>cn.pku.coolyr.controller.LoginCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Welcom</servlet-name>
		<servlet-class>cn.pku.coolyr.view.Welcom</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>cn.pku.coolyr.view.Main</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>cn.pku.coolyr.view.DeleteUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OK</servlet-name>
		<servlet-class>cn.pku.coolyr.view.OK</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Error</servlet-name>
		<servlet-class>cn.pku.coolyr.view.Error</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateUser</servlet-name>
		<servlet-class>cn.pku.coolyr.controller.UpdateUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateCL</servlet-name>
		<servlet-class>cn.pku.coolyr.view.UpdateCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Leave</servlet-name>
		<servlet-class>cn.pku.coolyr.controller.Leave</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>cn.pku.coolyr.view.AddUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddUserCL</servlet-name>
		<servlet-class>cn.pku.coolyr.controller.AddUserCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchUser</servlet-name>
		<servlet-class>cn.pku.coolyr.view.SearchUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchUserCL</servlet-name>
		<servlet-class>cn.pku.coolyr.controller.SearchUserCL</servlet-class>
	</servlet>


	<!-- ****************************************************************** -->


	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginCL</servlet-name>
		<url-pattern>/logincl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Welcom</servlet-name>
		<url-pattern>/welcom</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/deleteuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OK</servlet-name>
		<url-pattern>/ok</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Error</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUser</servlet-name>
		<url-pattern>/updateuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCL</servlet-name>
		<url-pattern>/updatecl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Leave</servlet-name>
		<url-pattern>/leave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/adduser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUserCL</servlet-name>
		<url-pattern>/addusercl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchUser</servlet-name>
		<url-pattern>/searchuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchUserCL</servlet-name>
		<url-pattern>/searchusercl</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
